.u-section-1 {
  background-image: url("images/CoverStory_robots.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 679px;
  min-height: 439px;
  margin: 142px 0 143px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 35px;
  padding-right: 32px;
}

.u-section-1 .u-shape-1 {
  width: 15px;
  height: 137px;
  margin: -89px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-group-1 {
    width: 560px;
    min-height: 372px;
    margin-top: 111px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 46px;
    padding-right: 16px;
  }

  .u-section-1 .u-shape-1 {
    height: 110px;
    margin-top: -62px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-group-1 {
    width: 429px;
    min-height: 398px;
    margin-top: 42px;
    margin-bottom: 42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 12px;
    height: 96px;
    margin-top: -23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 40.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-group-1 {
    width: 348px;
    min-height: 336px;
    margin-top: 55px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
  }

  .u-section-1 .u-shape-1 {
    height: 92px;
    margin-top: -44px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-group-1 {
    width: 241px;
    min-height: 352px;
    margin-top: 16px;
    margin-right: 1px;
    margin-bottom: 7px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 6px;
  }

  .u-section-1 .u-shape-1 {
    width: 15px;
    height: 69px;
    margin-top: -20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 9px;
    margin-bottom: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 50px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 20px 0 50px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/robot001.jpg");
  background-position: 50% 50%;
  min-height: 488px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 495px;
  min-height: 195px;
  position: absolute;
  top: 25px;
  left: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 220px auto 50px 0;
}

.u-section-3 .u-image-1 {
  min-height: 171px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 171px;
  background-image: url("images/fe2467310eefa5fc864cd6ab8ce88531.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  min-height: 171px;
  background-image: url("images/Untitled4.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  min-height: 171px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  min-height: 171px;
  background-image: url("images/technology_default_2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-6 {
  min-height: 171px;
  background-image: url("images/Untitled5.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-7 {
  width: 197px;
  height: 195px;
  position: absolute;
  top: 0;
  left: 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-3 .u-group-1 {
    width: 408px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 236px;
    margin-bottom: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    width: 214px;
    height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-3 .u-group-1 {
    width: 333px;
    min-height: 202px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 310px;
    margin-bottom: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-2 {
    min-height: 336px;
  }

  .u-section-3 .u-image-3 {
    min-height: 337px;
  }

  .u-section-3 .u-image-4 {
    min-height: 337px;
  }

  .u-section-3 .u-image-5 {
    min-height: 336px;
  }

  .u-section-3 .u-image-6 {
    min-height: 336px;
  }

  .u-section-3 .u-image-7 {
    width: 246px;
    height: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 269px;
    height: 3351px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 286px 0 0 auto;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3639px;
    margin-top: -3637px;
  }

  .u-section-3 .u-group-1 {
    width: 535px;
    min-height: 208px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 572px;
    margin-bottom: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3 .u-image-2 {
    min-height: 476px;
  }

  .u-section-3 .u-image-3 {
    min-height: 478px;
  }

  .u-section-3 .u-image-4 {
    min-height: 478px;
  }

  .u-section-3 .u-image-5 {
    min-height: 475px;
  }

  .u-section-3 .u-image-6 {
    min-height: 478px;
  }

  .u-section-3 .u-image-7 {
    width: 219px;
    height: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 283px;
    height: 3331px;
    margin-top: 370px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 3701px;
    margin-top: -3701px;
  }

  .u-section-3 .u-group-1 {
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 1px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 624px;
    margin-bottom: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    width: 234px;
    height: 232px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 75px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 227px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0;
}

.u-section-4 .u-image-1 {
  min-height: 273px;
  background-image: url("images/z.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  min-height: 500px;
  background-image: url("images/636e31a208d5ea88d839b88b582e2a46.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  margin: 50px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 45px auto 32px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 541px;
}

.u-section-5 .u-layout-wrap-1 {
  height: 401px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 1140px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-5 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 30px 1px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 401px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-5 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 30px 1px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 401px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-5 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 30px 30px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    height: auto;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-5 .u-icon-1 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 25px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-5 .u-icon-2 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-5 .u-icon-3 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-3 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-5 .u-icon-1 {
    height: 49px;
    width: 49px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-5 .u-icon-2 {
    height: 49px;
    width: 49px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-5 .u-icon-3 {
    height: 49px;
    width: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 855px;
  margin: 1px auto 0;
}

.u-section-6 .u-group-1 {
  width: 797px;
  min-height: 218px;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  margin: 20px 0 15px;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 48px auto 85px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/Untitled2.jpg");
  background-position: 50% 50%;
  min-height: 491px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/2.jpg");
  min-height: 491px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/robotsdos620x349.jpg");
  min-height: 491px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-6 .u-group-1 {
    width: 845px;
    min-height: 223px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-6 .u-group-1 {
    min-height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}